---
permalink: /sitemap-showdowns.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">

  <url>
    <loc>https://nomadbudgeter.com/compare/</loc>
    <lastmod>2026-05-01</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>

  {% for slug, d in showdowns %}
  <url>
    <loc>https://nomadbudgeter.com/compare/city/{{ d.slug }}/</loc>
    <lastmod>2026-05-01</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.75</priority>
  </url>
  {% endfor %}

</urlset>
